<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DiabetesConn"
			 connectionString="Data Source=AAYSENURR\SQLEXPRESS;Initial Catalog=DiyabetDB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Gönderen adres: Gmail hesabınız -->
		<add key="EmailFrom"     value="krslnaysenur.2001@gmail.com" />

		<!-- Gmail SMTP ayarları -->
		<add key="SmtpHost"      value="smtp.gmail.com" />
		<add key="SmtpPort"      value="587" />
		<add key="SmtpUser"      value="krslnaysenur.2001@gmail.com" />
		<!-- Uygulama şifrenizi boşluksuz buraya yapıştırın -->
		<add key="SmtpPass"      value="jldstimyzsmtmyoj" />
		<add key="SmtpEnableSsl" value="true" />
	</appSettings>
</configuration>
